@import "tailwindcss";

:root {
  --background: #2f3e46;
  --foreground: #cad2c5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
